.ace_editor {
  background-color: #2b262d !important;
  color: white;
}

.ace_editor .ace_gutter {
  background: #2b262d;
  color: #e06764;
}

.ace_editor .ace_list {
  color: #e06764;
}

.ace_editor .ace_gutter-active-line {
  background-color: #373142;
}

.ace-editor .ace-heading {
  color: #82d8d8;
}

.ace-editor .ace cursor {
  color: white;
}

.ace-editor .ace-string {
  color: #e06764;
}

code {
  color: #e06764;
}
